/*NAVBARRR*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 3rem 2rem;

}

.title {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: black;
    font-size: 40px;
}

/*----------NAVBAR------------*/
.header .header-1 {
    background-color: rgb(196, 196, 196);
}

.header .header-1 .flex {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.header .header-1 .flex .share a {
    font-size: 2.5rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .header-1 .flex .share a:hover {
    color: var(--purple);
}

.header .header-1 .flex p {
    font-size: 2rem;
    color: var(--light-color);
}

.header .header-1 .flex p a {
    color: var(--purple);
}

.header .header-1 .flex p a:hover {
    text-decoration: underline;
}

.nav .brandlogo {
    color: rgb(98, 42, 112);
    font-size: 30px;
    position: relative;
    right: 40px;
    height: 50px;
}

.header .navbar {
    background-color: rgb(103, 184, 150);
    box-shadow: grey;
}

.header .navbar .active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .navbar .nav {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header .navbar .nav .logo {
    font-size: 40px;
    color: rgb(98, 42, 112);
}

.header .navbar .nav .navvbar a {
    margin: 0 1rem;
    font-size: 25px;
    color: rgb(98, 42, 112);
}

.header .navbar .nav .navvbar a:hover {
    text-decoration: underline;
}

.header .navbar .nav .icons>* {
    font-size: 25px;
    color: white;
    cursor: pointer;
    margin-left: 1.5rem;
}

.header .navbar .nav .user-box {
    position: absolute;
    top: 100%;
    right: 2rem;
    background-color: rgb(103, 184, 150);
    border-radius: 1.5rem;
    padding: 1rem;
    text-align: center;
    width: 15rem;
    display: none;
    animation: fadeIn .2s linear;
}

.header .navbar .nav .user-box.active {
    display: inline-block;
}

.header .navbar .nav .user-box p {
    font-size: 20px;
    color: white;
    margin-bottom: .5rem;
}

.header .navbar .nav .user-box p span {
    color: rgb(98, 42, 112);
}

.header .navbar .nav .user-box .delete-btn {
    margin-top: 0;
}

/*END NAVBARRR*/


.home {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/artt.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .content {
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}

.btn,
.option-btn,
.delete-btn,
.white-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    color: white;
    font-size: 20px;
    border-radius: 2.5rem;
    text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
    background-color: var(--black);
}

#menu-btn {
    display: none;
}

.white-btn,
.btn {
    background-color: rgb(98, 42, 112);
}

.white-btn:hover {
    background-color: white;
    color: black;
}

/*--------------PRODUCTS-----------*/

.products .box-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    align-items: flex-start;
    gap: 1.5rem;
    justify-content: center;
}

.products .box-container .box {
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem;
    text-align: center;
    border: .1rem solid black;
    position: relative;
}

.products .box-container .box .image {
    height: 200px;
    width: 200px;
}

.products .box-container .box .name {
    padding: 1rem 0;
    font-size: 20px;
    color: black;
}

.products .box-container .box .qty {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: .5rem;
    border: .1rem solid black;
    margin: 1rem 0;
    font-size: 2rem;
}

.products .box-container .box .price {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 2.5rem;
    color: #fff;
    background-color: rgb(169, 27, 27);
}

/*--------------PRODUCTS ENDS HERE-----------*/


/*FOOTER HERREREJASSSSSSSSSS*/


.footer {
    padding: 1em;
    background-color: rgb(98, 42, 112);

}

.footer .box-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3 {
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    padding-bottom: 1rem;
}

.footer .box-container .box p,
.footer .box-container .box a {
    display: block;
    font-size: 15px;
    opacity: .8;
    margin-bottom: 10px;
    color: rgb(103, 184, 150);
    ;
}

.footer .box-container .box p i,
.footer .box-container .box a i {
    color: var(--purple);
    padding-right: .5rem;
}

.footer .box-container .box a:hover {
    color: black;
    text-decoration: underline;
}

/*FOOTERRRRRRRRR ENDS HEREEEE*/


.product {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: rgb(98, 42, 112);
    padding: 5px;
    border-radius: 5px;
    color: white;
    right: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 5;
}

.card-btn:hover {
    background: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-name {
    text-transform: capitalize;
}

.product-short-des {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 700;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}



/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar .nav .navvbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar .nav .navvbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar .nav .navvbar a {
        display: block;
        font-size: 2.5rem;
        margin: 2rem;
    }

    .home .content h3 {
        font-size: 3.5rem;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading h3 {
        font-size: 3.5rem;
    }

    .title {
        font-size: 3rem;
    }

}