@import 'style.css';

header {
    width: 100%;
    height: 100vh;
    position: relative;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 200px;
}

.img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#how-it-works {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.card {
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(247, 33, 33, 0.5);
    transition: 0, 5s ease-in-out;
}


.card:hover {
    transform: translate(20px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgb(243, 62, 221));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before {
    opacity: 1;

}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position: relative;
    z-index: 3;
    color: rgb(98, 42, 112);
    opacity: 1;
    transform: translateY(30px);
    transition: 0.5s all;

}

.card:hover.info {
    opacity: 1;
    transform: translateY(0px);
}


.card .info h1 {
    margin: 0;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .info .btn {
    position: inherit;
    text-decoration: none;
    padding: 10px;
    background: rgb(103, 184, 150);
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 90%;
}


.card .info .btn:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

/* end: how it works styles */


/* start: testimonials styles */
#testimonials {
    margin-bottom: 8rem;
}

#testimonials h2 {
    text-align: center;
}

#testimonials-slider .slick-slide {
    text-align: center;
}

#testimonials-slider blockquote {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem auto 3rem;
    max-width: 740px;
}

#testimonials-slider .testimonials-caption {
    width: 200px;
    margin: 0 auto;
}

#testimonials-slider .testimonials-caption img {
    float: left;
    border-radius: 30px;
    width: 60px;
}

.testimonials-caption p {
    position: relative;
    top: 13px;
    font-size: 1.2rem;
}

#testimonials-slider .slick-arrow {
    text-decoration: none;
    position: absolute;
    font-size: 40px;
    color: #222;
    top: 50%;
    margin-top: -35px;
    z-index: 1;
}

#testimonials-slider .slick-next {
    right: 0;
}

/* end: testimonials styles */
    @media (max-width: 400px) {
        #hero .hero-text {
            max-width: 275px;
            width: 100%;
        }

        nav ul {
            width: 200px;
        }
    }

    /* end: media queries */


.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category{
    padding: 0 10vw;
    font-size:30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: rgb(98, 42, 112);
    padding: 5px;
    border-radius: 5px;
    color: white;
    right: 10px;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    }

.product-card:hover .card-btn{
    opacity: 5;
}

.card-btn:hover{
    background: #fff;
}

.product-info{
    width:100%;
    height: 100px;
    padding-top: 10px;
}

.product-short-des{
    width:100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-transform: capitalize;
    margin: 5px 0;
    }

    .price{
        font-weight: 700;
        font-size: 20px;
    }

    .actual-price{
        margin-left: 20px;
        opacity: 0.5;
        text-decoration: line-through;
    }

    .pre-btn, .nxt-btn{
        border: none;
        width: 10vw;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #fff 100%);
        cursor: pointer;
        z-index: 8;
    }

    .pre-btn{
        left: 0;
        transform: rotate(180deg);
    }

    .nxt-btn{
        right: 0;
    }

    .pre-btn img,  .nxt-btn img{
        opacity: 0.2;
    }

    .pre-btn:hover img, .nxt-btn:hover img{
        opacity: 1;
    }