@import 'style.css';

header {
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 0 200px;
}

.h1{
    text-decoration: underline;
}
.img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*FOOTER*/
Footer {
    width: 100%;
    height: auto;
    padding: 60px 11% 110px;
    background-color: rgb(98, 42, 112);
    font-family: pop;
    position: relative;
}

.container h3 {
    font-size: 18px;
    margin-bottom: 28px;
    position: relative;
}

/*line under about quick*/
.container h3::after {
    content: "    ";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgb(103, 184, 150);
    border-radius: 10px;
    bottom: -6px;
    left: 0;
}

.about>h3 {
    color: rgb(103, 184, 150);
}

.about>p {
    font-size: 20px;
    opacity: .8;
    line-height: 26px;
    max-width: 350px;
    margin-bottom: 12px;
    color: rgb(103, 184, 150);
    ;
}

.social_links .social {
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}

.social_links .social:hover {
    width: 200px;
}

.social_links .social .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.social_links .social:nth-child(1):hover .icon {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.social_links .social:nth-child(2):hover .icon {
    background: #2866e3;
}


.social_links .social .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.social_links .social:hover .icon i {
    color: #fff;
}

.social_links .social span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.social_links .social:nth-child(1) span {
    color: #4267B2;
}

.social_links .social:nth-child(2) span {
    color: #1DA1F2;
}

.social_links .social:nth-child(3) span {
    color: #E1306C;
}

.social_links .social:nth-child(4) span {
    color: #333;
}

.social_links .social:nth-child(5) span {
    color: #ff0000;
}

.about .social_links>h3 {
    font-size: 20px;
    margin-right: 8px;
    transition: all .7s ease;
    cursor: pointer;
    color: rgb(103, 184, 150);
}

.Quick_links>h3 {
    color: rgb(103, 184, 150);
}

.Quick_links .links {
    display: flex;
    flex-direction: column;
}


.links a {
    text-decoration: none;
    color: rgb(103, 184, 150);
    margin-bottom: 5px;
    font-size: 15px;
    transition: all .7s ease;
}

.links a:hover {
    color: #fff;
}

/*Contact in footer*/

.Contact>h3 {
    color: rgb(103, 184, 150);
    ;
}

.Contact>.links {
    color: rgb(103, 184, 150);
    ;
}

/*Footer ends*/


.product {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: rgb(98, 42, 112);
    padding: 5px;
    border-radius: 5px;
    color: white;
    right: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 5;
}

.card-btn:hover {
    background: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-name {
    text-transform: capitalize;
}

.product-short-des {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 700;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}