/*DELETE THIS not needed anymore*/
/*NAVBARRR*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 18vh;
    background-color: rgb(103, 184, 150);
    z-index: 9;
}

.nav {
    /*logo, search box and link items*/
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.nav .brandlogo {
    color: rgb(98, 42, 112);
    font-size: 30px;
    position: relative;
    right: 70px;
    height: 50px;
}

.nav .icons {
    font-size: 25px;
    color: white;
    cursor: pointer;
    margin-left: 1.5rem;
}

.links-container {
    /*home,about us...*/
    font-size: 15px;
    width: 100%;
    display: flex;
    padding: 5px 10px;
    list-style: none;
    border-top: 2px solid rgb(250, 250, 250);
}

.link {
    /*home,about us... text edit*/
    text-transform: capitalize;
    padding: 0 50px;
    margin: 0 5px;
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-size: 20px;
}

.link:hover {
    color: rgb(98, 42, 112);
}

.navbar .user-box {
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: blue;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;
    text-align: center;
    width: 30rem;
    display: none;
    animation: fadeIn .2s linear;
}

.navbar .user-box.active {
    display: inline-block;
}

.navbar .user-box p {
    font-size: 2rem;
    color: var(--light-color);
    margin-bottom: 1.5rem;
}

.navbar .user-box p span {
    color: var(--purple);
}

.navbar .delete-btn {
    margin-top: 0;
}

/*END NAVBARRR*/
.home {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/artt.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .content {
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}


.btn,
.option-btn,
.delete-btn,
.white-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    color: white;
    font-size: 20px;
    border-radius: 2.5rem;
    text-transform: capitalize;
}

.white-btn,
.btn {
    background-color: rgb(98, 42, 112);
}

.white-btn:hover {
    background-color: white;
    color: black;
}


/*NEW FOOTER HERREREJASSSSSSSSSS*/


.footer {
    width: 100%;
    height: auto;
    padding: 60px 11% 110px;
    background-color: rgb(92, 112, 42);
    font-family: pop;
    position: relative;
}

.footer .box-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3 {
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    font-size: 25px;
    padding-bottom: 1rem;
}

.footer .box-container .box p,
.footer .box-container .box a {
    display: block;
    font-size: 20px;
    opacity: .8;
    line-height: 26px;
    max-width: 350px;
    margin-bottom: 12px;
    color: rgb(103, 184, 150);
    ;
}

.footer .box-container .box p i,
.footer .box-container .box a i {
    color: var(--purple);
    padding-right: .5rem;
}

.footer .box-container .box a:hover {
    color: black;
    text-decoration: underline;
}

/*FOOTERRRRRRRRR ENDS HEREEEE*/


.product {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: rgb(98, 42, 112);
    padding: 5px;
    border-radius: 5px;
    color: white;
    right: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 5;
}

.card-btn:hover {
    background: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-name {
    text-transform: capitalize;
}

.product-short-des {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 700;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}